hello

-# .container
-#   = render partial: 'items/header'

-#   = render partial: 'registration/bread-crumbs'

-#   .main-box
    
-#     = render partial: 'registration/side-bar'

-#     .mypage-main
-#       .mypage-main__icon
-#         .user-bunner
-#           .user-bunner__fig

-#           .user-bunner__name

-#         .user-number

-#       .mypage-main__tab
-#         %ul.mypage-tab
-#           %li.action
-#           %li.todo
-#         .mypage-tab-content

-#       .mypage-main__transaction
-#         %ul.mypage-tab
-#           %li.old-transaction
-#           .mypage-tab-content





-#   = render partial: 'items/bottom'

-#   = render partial: 'items/sell-btn'