.bunner {
  width: 100%;
  height: 260px;
  background-image: url("https://www.mercari.com/jp/assets/img/common/jp/top/download_bg_pc.jpg?94284397");
  &__full {
    display: flex;
    width: 760px;
    margin: 0 auto;
    &__inner {
      h2 {
        font-size: 24px;
      }
      p {
        font-size: 35px;
      }
      &__icon {
        margin: 20px 0 0;
        display: flex;
        ul {
          display: flex;
          margin: 12px 0 0 24px;
        }
        ul li {
          margin: 0 5px;
        }
      }
    }
    &__image {
      img {
        width: 300px;
        height: 260px;
      }
    }
  }
}
.bottom {
  width: 100%;
  height: 390px;
  background-color: #212121;
  color: #fff;
  padding: 0 20px 10px 20px;
  box-sizing: border-box;
  
  &__cell {
    margin: 0 auto;
    display: flex;
    width: 993px;
    font-size: 16px;
    a {
      text-decoration: none;
      color: #ccc;
    }
    ul li {
      font-size: 12px;
      margin: 16px 0 0;
      
    }
    
    &__left {
      width: 20%;
      height: 240px;
      margin-top: 18px;
      padding: 0 20px 0 0;
      &__social {
        color: #fff;
        
        i {
          font-size: 30px;
          margin-top:20px;
        }
      }
    }
    &__right {
      width: 23%;
      height: 280px;
      margin-top: 18px;
      padding: 0 40px 0 0;
    }
    &__width {
      width: 42%;
      height: 170px;
      margin-top: 18px;
      padding: 0 40px 0 0;
      .inner-left {
        float: left;
        width: 50%;
      }
      .inner-right {
        float: right;
        width: 50%;
      }
    }
    &__lung {
      width: 100px;
      height: 90px;
      margin-top: 18px;
    }
  
  }
  &__end {
    display: flex;
    margin: 30px auto 20px;
    height: 33px;
    width: 993px;
    line-height: 33px;
    .bottom-copylight {
      width: 745px;
      text-align: center;
      font-size: 12px;
      margin: 8px 0 0;
    }
  }
}