.search-main{
  width: calc(100% - 320px);
  color: #333;
  .search-result{
    font-size: 22px;
    height: 30px;
    width: 100%;
    font-weight: 600;
    margin-bottom: 8px;
    span{
      font-size: 18px;
      font-weight: 400;
    }
  }
  p{
    font-size: 14px;
    font-weight: 400px;
    margin: 16px 0 40px;
  }
  .search_count{
    font-size: 12px;
    color: #888;
    margin: 16px 0;
  }
  .latest-item{
    font-size: 22px;
    margin-bottom: 16px;
    font-weight: 700;
  }
  .pagination{
    width: 100%;
    position: relative;
    margin-top: 40px;
    display:flex;
    &__left{
      position: absolute;
      left: 0;
    }
    &__center{
      max-width: 250px;
      margin: 0 auto;
    }
    &__right{
      position: absolute;
      right: 0;
    }
  }
  .page{
    display: inline-block;
    width: 42px;
    height: 42px;
    line-height: 42px;
    font-size: 14px;
    text-align: center;
    background-color: #fff;
    border: solid 1px #ccc;
    border-radius: 4px;
    color: #515151;
    text-decoration: none;
    &.current{
      color: white;
      background-color: #ea352d;
    }
  }
}

.search-list *{
  box-sizing: border-box;
}
.search-list{
  display: flex;
  flex-wrap: wrap;
  .search-item-box{
    height: 218px;
    width:  160px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    &__image{
      width: 160px;
      height: 160px;
    }
    &__body{
      padding: 8px 12px;
      overflow: hidden;
      h3{
        height: 21px;
        font-size: 14px;
        white-space: nowrap;
        background: -webkit-linear-gradient(left, #000 60%, #fff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      h2{
        color: #333;
        height: 17px;
        font-size: 14px;
        font-weight: 600;
        margin-top: 2px;
      }
    }
  }
}
.side-bar{
  .search-nav{
    margin: auto;
    color: #333;
    &__dropdown{
      padding: 16px;
      margin-top: 40px;
      background-color: #fff;
      .hide{
        display: none !important;
      }
      &__title{
        font-weight: bold;

      }
      &__form{
        position: relative;

        &__search{
          @include sidebar-column;
          padding-top: 10px;
          padding-bottom: 8px;
        }
        &__list{
          display: block; 
          font-weight: 600;
          margin-top: 40px;
          i{
            color: rgb(136, 136, 136);
            font-size: 18px;
          }
          span{
            font-size: 14px;
          }
        }
        .search-root{
          @include sidebar-column;
          cursor: pointer;
        }
        .search-arrow{
          position: absolute;
          color: rgb(136, 136, 136);
          right: 16px;
          line-height: 64px;
          z-index: 5;
        }
        .category-child{
          @include sidebar-column;
          cursor: pointer;
        }
        .price-child{
          @include sidebar-column;
          width: 114px;
          font-size: 14px;
          display: inline-block;
        }
        .check-boxes{
          display: flex;
          flex-wrap: wrap;
          & >:nth-child(2n+1){
            margin-left: 2%;
          }
          &__content{
            box-sizing: border-box;
            width: 48%;;
            margin-top: 16px;
            .search-checkbox{
              display: none;
              &__label{
                @include sidebar-checkbox;
              }
            }
          }
        }
        .sidebar__search-btns{
          padding-top: 40px;
          height: 50px;
          .sidebar__search-btn{
            width: 110px;
            height: 50px;
            font-size: 14px;
            color: white;
            background-color: #aaa;
            padding: 0;
            border: none;
            &--red{
            background-color: red;
            }
          }
        }
      }
    }
  }
} 
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
select {
  -webkit-appearance: none;/* ベンダープレフィックス(Google Chrome、Safari用) */
  -moz-appearance: none; /* ベンダープレフィックス(Firefox用) */
  appearance: none; /* 標準のスタイルを無効にする */
  }
  ::-ms-expand { /* select要素のデザインを無効にする（IE用） */
  display: none;
}
.search-checkbox__label:before{
  content: '';
  display: block;
  width: 18px;
  height: 18px;
  border: 1px solid #888;
  border-radius: 3px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}
.search-checkbox:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.category-main-box {
  margin: 40px auto 0;
  width: 70%;
  padding: 0 0 40px;
  box-sizing: border-box;
  h2{
    font-size: 24px;
    color: #333;
    margin: 24px 0 8px;
    font-weight: 600;
  }
  .pagination{
    width: 100%;
    position: relative;
    margin-top: 40px;
    display:flex;
    &__left{
      position: absolute;
      left: 0;
    }
    &__center{
      max-width: 250px;
      margin: 0 auto;
    }
    &__right{
      position: absolute;
      right: 0;
    }
    .page{
      display: inline-block;
      width: 42px;
      height: 42px;
      line-height: 42px;
      font-size: 14px;
      text-align: center;
      background-color: #fff;
      border: solid 1px #ccc;
      border-radius: 4px;
      color: #515151;
      text-decoration: none;
      &.current{
        color: white;
        background-color: #ea352d;
      }
    }
  }
}