.container {
  box-sizing: border-box;
  width: 100%;
  .main {
    width: 100%;
    background-image: url("https://www.mercari.com/jp/assets/img/common/jp/top/main_bg_pc.jpg");
    &__owl {
      height: 390px;
      width: 860px;
      display: flex;
      margin: 0 auto;
      
      &__content {
        width: 480px;
        h2 {
          font-size:60px;
          font-weight: bold;
        }
        p {
          font-size: 18px;
        }
        &__icon {
          margin-top: 24px;
          ul {
            display: flex;
          }
          img {
            width: 170px;
            height: 50px;
          }
        }
      }
      &__image {
        img {
          width: 380px;
        }
      }
    }
  }
  .pickup {
    padding: 40px 0;
    background-color: #f5f5f5;
    a {
      text-decoration: none;
      color: #0099E8;
    }
    &__header {
      text-align: center;
      font-size: 28px;
      h2 {
        font-weight: bold;
      }
      &__type {
        margin: 26px 11px;
        font-size: 22px;
      }
      &__item {
        width: 940px;
        margin: 0 auto;
        ul {
          display: flex;
          
        }
        ul li {
          width: 213px;
          height: 330px;
          margin-left: 20px;
          background-color: #fff;
        }
        .item-box {
          background-color: #fff;
          height: 330px;
          &__photo {
            width: 213px;
            height: 220px;
            overflow: hidden;
            position: relative;
          }
          &__body {
            padding: 16px;
            height: 110px;
            &__name {
              font-size: 16px;
            }
            &__num {
              margin-top: 8px;
              &__price {
                font-size: 14px;
                font-weight: 600;
                float: left;
              }
              &__good-btn {
                font-size: 16px;
                color: #ccc;
                float: right;
                span {
                  color: #333;
                }
              }
            }
            
          }
        }
      }
      &__all {
        width: 940px;
        margin: 0 auto;
        padding: 20px 0 30px;
        text-align: right;
        font-size: 14px;
      }
    }
  }
 
  
  .bunner {
    width: 100%;
    height: 260px;
    background-image: url("https://www.mercari.com/jp/assets/img/common/jp/top/download_bg_pc.jpg?94284397");
    &__full {
      display: flex;
      width: 760px;
      margin: 0 auto;
      &__inner {
        h2 {
          font-size: 24px;
        }
        p {
          font-size: 35px;
        }
        &__icon {
          margin: 20px 0 0;
          display: flex;
          ul {
            display: flex;
            margin: 12px 0 0 24px;
          }
          ul li {
            margin: 0 5px;
          }
        }
      }
      &__image {
        img {
          width: 300px;
          height: 260px;
        }
      }
    }
  }
  .bottom {
    width: 100%;
    height: 390px;
    background-color: #212121;
    color: #fff;
    padding: 0 20px 10px 20px;
    box-sizing: border-box;
    
    &__cell {
      margin: 0 auto;
      display: flex;
      width: 993px;
      font-size: 16px;
      a {
        text-decoration: none;
        color: #ccc;
      }
      ul li {
        font-size: 12px;
        margin: 16px 0 0;
        
      }
      
      &__left {
        width: 20%;
        height: 240px;
        margin-top: 18px;
        padding: 0 20px 0 0;
        &__social {
          color: #fff;
          
          i {
            font-size: 30px;
            margin-top:20px;
          }
        }
      }
      &__right {
        width: 23%;
        height: 280px;
        margin-top: 18px;
        padding: 0 40px 0 0;
      }
      &__width {
        width: 42%;
        height: 170px;
        margin-top: 18px;
        padding: 0 40px 0 0;
        .inner-left {
          float: left;
          width: 50%;
        }
        .inner-right {
          float: right;
          width: 50%;
        }
      }
      &__lung {
        width: 100px;
        height: 90px;
        margin-top: 18px;
      }
    
    }
    &__end {
      display: flex;
      margin: 30px auto 20px;
      height: 33px;
      width: 993px;
      line-height: 33px;
      .bottom-copylight {
        width: 745px;
        text-align: center;
        font-size: 12px;
        margin: 8px 0 0;
      }
    }
  }
  .sell-btn {
    bottom: 32px;
    right: 32px;
    width: 160px;
    height: 160px;
    font-size: 22px;
    background: #ea352d;
    border-radius: 50%;
    text-align: center;
    position: fixed;
    a {
      text-decoration: none;
    }
    div {
      margin: 32px 0 0;
      color: #fff;
      
    }
    i {
      font-size: 60px;
      color: #fff;
    }
  }
}
