// ここからpまでが新規登録画面6　住所画面
.register6_header{
  background-color: rgb(233, 233, 233);
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  &_logo{
    box-sizing: border-box;
    width: 30%;
    display: flex;
    justify-content: center;
    img{
      height: 100%;
    }
  }
  &_status_bar{
    position: relative;
    width: 40%;
    text-align: center;
    display: flex;
    span{
      box-sizing: border-box;
      width: 20%;
      font-size: 0.5rem;
      color: gray;
      position: relative;
      justify-content: space-between;
      z-index: 2;
    }
    span:after{
      position: absolute;
      box-sizing: border-box;
      text-align: center;
      content: "●";
      left: 50%;
      transform: translateX(-50%);
      top: 20px;
    }
    &_information:after, &_phone:after, &_adress:after{
      color: red;
    }
    hr{
      position: absolute;
      box-sizing: border-box;
      border: 1px gray solid;
      top: 19px;
      width : 80%;
      left: 10%;
    }
    .red_line4{
      border: 1.2px red solid;
      width : 60%;
      z-index: 2;
    }
  }
}
.register_user_register6{
height: 120%;
width: 100%;
background-color: rgb(233, 233, 233);
display: flex;
justify-content: center;
align-items: center;

&_contents{
  background-color: white;
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 80px;
  h1{
    border-bottom: 1px solid lightgray;
    width: 100%;
    text-align: center;
    height: 60px;
    font-size: 18px;
  }
  
  &_form{
    display: flex;
    flex-direction: column;
    width: 50%;
    
    .field{
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      p:after{
        content: "\f1f0\f24c\f1f1\f1f3\f24b\f1f2";
        font-family: "Font Awesome 5 brands";
        font-size: 30px;
        color: black;
      }
      input{
        width: 100%;
        height: 50px;
        border-radius: 5px;
        border: solid 1px lightgray;
        margin-bottom: 5px;
      }
      label:after{
        content: "必須";
        background-color:#ea352d;
        color: white;
        padding: 2px;
        border-radius: 3px;
        font-size: 14px;
      }
      .form-nini:after{
        content: "任意";
        background-color:lightgray;
      }
      &_expire_form{
        
        select{
          width: 40%;
          height: 60px;
          color: black;
          background-color: white;
          font-size: 20px;
        }
        
      }
      &_security_code{
        a{
          text-align: right;
        }
        a:before{
          content: "\f059";
          font-weight: 900;
          font-family: "Font Awesome 5 Free";        
        }
      }
    }
    h3{
      font-size: 14px;
      color: gray;
      font-weight: normal;
    }
    span{
      font-size: 14px;
      font-weight: normal;
      a{
        color:#0099e8;
      }
    }
    .btn{
      width: 100%;
      height: 60px;
      border-radius: 3px;
      background-color:#ea352d;
      font-size: 16px;
      color: white;
      text-decoration: none;
      text-align: center;
      vertical-align: middle;
      line-height: 60px;
    }
  }
}
}
.footer{
color: black;
justify-content: center;
width: 100%;
height: 100%;
display: flex;
justify-content: center;
flex-direction: column;
background-color: rgb(233, 233, 233);
ul{
  box-sizing: border-box;
  width:100%;
  height: 100%;
  background-color: rgb(233, 233, 233);
  display: flex;
  justify-content: center;
  li{
    margin-left: 20px;
    list-style: none;
    a{
      text-decoration: none;
      color: gray;
    }
  }
}
img{
  filter: grayscale(100);
  opacity: 0.3;
  width: 15vw;
  margin: 0 auto;
}
p{
  text-align: center;
  color: black;
}
}