- items.each do |item|
  %li.list_item
    = link_to item_path(item) do
      .item-box
        - if item.status != "出品中"
          .item-box__sold
            sold
        .item-box__price
          = "¥" + item.price.to_s(:delimited)
        %img.lazyloaded.is-higher-width{:alt => item.name, "data-src" => item.name, :src => '/mercari_logo.png'}
        %h2 
          = item.name