- items.each do |item|
  %li.list_item
    .item-box
      .item-box__sold
        sold
      .item-box__price
        = "¥" + item.price.to_s(:delimited)
      %img.lazyloaded.is-higher-width{:alt => item.name, "data-src" => @picture.image, :src => @picture.image.url}/
      %h2 
        = item.name