- items.each do |item|
  %li
    .item-box
      .item-box__price
        = "¥" + item.price.to_s(:delimited)
      .item-box__photo
        %img.lazyloaded.is-higher-width{:alt => item.name, "data-src" => @picture.image, :src => @picture.image.url}/
      .item-box__body
        = item.name