- items.first(6).each do |item|
  %li.list_item
    .item-box-show
      .item-box-show__sold
        sold
      %img.lazyloaded.is-higher-width{:alt => item.name, "data-src" => item.name, :src => '/mercari_logo.png'}
      %h2.item-box-show_item_name
        = item.name
      %h2.item-box-show_item_price
        = "¥" + item.price.to_s(:delimited)