%li.search-item-box
  %img.search-item-box__image{:alt => item.name, "data-src" => item.name, :src => item.pictures.first.image.url}
  .search-item-box__body
    %h3= item.name
    %h2= "¥" + item.price.to_s(:delimited)