@mixin sidebar-column{
  box-sizing: border-box;
  width: 248px;
  height: 48px;
  color: #333;
  margin: auto;
  margin-top: 8px;
  padding: 0 16px;
  background-color: #fff;
  border: solid 1px #ccc;
  border-radius: 4px;
  line-height: 46px;
  &:focus {
    border-color: rgb(0, 132, 255);
    outline: none;
  }
  position: relative;
  i{
    color: #999;
    position: absolute;
    right: 16px;
    top: 16px;
  }
}
@mixin sidebar-checkbox{
  display: inline-block;
  color: #333;
  font-size: 12px;
  padding-left: 28px;
  margin: 0;
  position: relative;
}